@model IEnumerable<NorthWestLabs.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*This page displays a list of the invoices in the system*@
<h2>Invoice List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.invoiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentTerms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.printDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNum)
        </th>
    </tr>

    <tr>
        <td>
            12034
        </td>
        <td>
            870.00
        </td>
        <td>
            N 30, 20 Days
        </td>
        <td>
            11/09/2016
        </td>
        <td>
            40
        </td>
        <td>
            9030
        </td>
        <td>
            939019
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = 1 }) |
            @Html.ActionLink("View", "Details", new { id = 1 }) |
            @Html.ActionLink("Delete", "Delete", new { id = 1 })
        </td>
    </tr>
    <tr>
        <td>
            20394
        </td>
        <td>
            1607.00
        </td>
        <td>
            N 10, 15 Days
        </td>
        <td>
            10/19/2016
        </td>
        <td>
            20
        </td>
        <td>
            9203
        </td>
        <td>
            382919
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = 1 }) |
            @Html.ActionLink("View", "Details", new { id = 2 }) |
            @Html.ActionLink("Delete", "Delete", new { id = 1 })
        </td>
    </tr>
    <tr>
        <td>
            14059
        </td>
        <td>
            2090.00
        </td>
        <td>
            N 10, 60 Days
        </td>
        <td>
            08/12/2016
        </td>
        <td>
            12
        </td>
        <td>
            2039
        </td>
        <td>
            102939
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = 1 }) |
            @Html.ActionLink("View", "Details", new { id = 3 }) |
            @Html.ActionLink("Delete", "Delete", new { id = 1 })
        </td>
    </tr>
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}*@

</table>
