<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NorthWest Labs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NorthWest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Work Order", "Index", "Home")</li>
                    <li>@Html.ActionLink("Accounting", "About", "Home")</li>
                    <li>@Html.ActionLink("CRM", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Inventory", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sales", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Customer", "Contact", "Home")</li>*@
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Work Order
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Work Order", "Create", "WorkOrder")</li>
                                <li>@Html.ActionLink("View/Update Work Order", "Index", "Home")</li>
                                <li>@Html.ActionLink("View/Update Test Schedule", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Accounting/Billing
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Invoice", "Create", "Accounting")</li>
                                <li>@Html.ActionLink("View/Update Invoice", "Index", "Accounting")</li>
                                <li>@Html.ActionLink("Send Invoice", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create Invoice Report", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create/Print Financial Statement", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                CRM
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Customer", "Index", "Home")</li>
                                <li>@Html.ActionLink("View/Update Customer", "Index", "Home")</li>
                                <li>@Html.ActionLink("Track Customer Order", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create Customer Report", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Inventory
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("View/Update Inventory", "Index", "Home")</li>
                                <li>@Html.ActionLink("Order Inventory", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create Inventory Report", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create Vendor", "Index", "Home")</li>
                                <li>@Html.ActionLink("View/Update Vendor", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Sales
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Sales Report", "Index", "Home")</li>
                                <li>@Html.ActionLink("Create Quote", "Index", "Home")</li>
                                <li>@Html.ActionLink("View/Update Quote", "Index", "Home")</li>
                                <li>@Html.ActionLink("Forcast Sales", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Customer
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create Account", "Create", "WorkOrder")</li>
                                <li>@Html.ActionLink("View/Update Account", "Index", "Home")</li>
                                <li>@Html.ActionLink("Order History", "Index", "Home")</li>
                                <li>@Html.ActionLink("Order Status", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        @*<footer>
            <p>&copy; @DateTime.Now.Year - NorthWest Labs</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
